The data from the World Bank was provided in a .csv. When working with tableau public you can't directly access a SQL database. With that being said I could have used the .csv directly with python, but I did an extra step of setting up a SQL database from the .csv and then using SQL with python to get the data ready for tableau for practice purposes.

In [2]:
%load_ext sql
%sql postgresql://postgres:password@localhost:5432/world_bank_economy

Couple of SQL test queries to make sure the database was set up correctly.

In [ ]:
%%sql
SELECT *
FROM economic_data 
where country_name like 'Brazil'
LIMIT 15;

In [ ]:
%%sql
SELECT *
FROM economic_data  
WHERE 
    (
        series_name = 'Industry (including construction), value added (% of GDP)' OR 
        series_name = 'Agriculture, forestry, and fishing, value added (% of GDP)' OR 
        series_name = 'Services, value added (% of GDP)'
    ) 
    AND country_name IS NOT NULL
ORDER BY country_name,series_name
LIMIT 5;

In [ ]:
import pandas as pd
import psycopg2

# Connect to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="world_bank_economy",
    user="postgres",
    password=""
)

# Execute the query
query = """
SELECT *
FROM economic_data  

ORDER BY country_name,series_name;
"""
# Panda with SQL query to load the result into a dataframe
df = pd.read_sql(query, conn)

# Define the columns to keep as ID variables (long format is better for Tableau)
id_vars = ["country_name", "country_code", "series_name", "series_code"]

df_long = pd.melt(df, id_vars=id_vars, var_name="year", value_name="value")

# Convert the "year" column to a datetime format
df_long["year"] = pd.to_datetime(df_long["year"].str.replace("yr_", ""), format="%Y")

df_pivot = pd.pivot_table(df_long, index=["country_name", "country_code", "year"], columns="series_name", values="value").reset_index()

print(df_pivot.head())

# Save the cleaned data to a CSV file
df_pivot.to_excel('E:\Data_Science\SQL\Economy\economic_data.xlsx', index=False)